body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2d967c;
  font-family: 'Arial', sans-serif;
}

.calculator {
  border: 2px solid #333;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.display {
  background-color: rgb(12, 2, 2);
  color: #fff;
  font-size: 2em;
  text-align: right;
  padding: 20px;
  box-sizing: border-box;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
}

.button {
  background-color: rgb(80, 93, 105);
  border: none;
  padding: 20px;
  font-size: 1.5em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: rgb(102, 171, 202);
}

.button:active {
  background-color: rgb(214, 200, 200);
}

.button:nth-child(4n) {
  background-color: #e2a807;
}
